/*set height of each page*/
.city_style{
	height: 120%;
	clear: left;
}

/*Keep header fixed on this page*/
.header{
	position: fixed;
	z-index: 2;
}

/*Positions city information below the fixed header*/
.cities{
	position: relative;
	top: 7%;
	height: auto;
}

/*Container of all image and text for particular city*/
.food_gallery{
	width:98%;
	margin:1%
}

/*Conatins image tag*/
.image_container{
	width: 23%;
	height: 35%;
	float:left;
	margin-right: 2%;
	margin-bottom:2%;
	box-shadow: 0 10px 8px 0 rgba(150, 150, 150, 0.3), 0 6px 30px 0 rgba(150, 150, 150, 0.19);
}

/*Image tag*/
.image_container img{
	width:96%;
	height:95%;
	margin:1.2%;
	margin-top:1.7%;
	border-radius:0.5em;
}

/*Image description*/
.desc_text{
	width: 78%;
	font-size: 1.3em;
	text-align: justify;
}

.facts li{
	font-size: 1.3em;
}
/**/

.text_format{
	text-align:center;
}

.social_cont{
	margin-top:5%;
	margin-left:2%;
}